body{
	background-color:pink;
}

.img {
	width: 100px;
	height: auto;
}
.mojaKlasa
{
	text-align: center;
	color:brown;
}
.navbar
{
	text-align:left;
}


.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
	display:none;
}
html {
  scroll-behavior: smooth;
}
